.app-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.app-sidenav {
  display: flex;
  width: 300px;
  background-color: #fafafa;
}

.app-content {
  padding: 0 20px 20px 20px;
}

.selected-order {
  font-weight: bold;
}
